@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}
.global__background{
  background-image: linear-gradient(to bottom, #531c1c, #691b1e, #7f1821, #961123, #ae0025);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
/* START: General styles */
.max-width {
  @apply max-w-[1440px] mx-auto;
}

.padding-x {
  @apply sm:px-16 px-6;
}

.padding-y {
  @apply py-4;
}

.flex-center {
  @apply flex items-center justify-center;
}

.flex-between {
  @apply flex justify-between items-center;
}

.custom-btn {
  @apply flex flex-row relative justify-center items-center py-3 px-6 outline-none;
}
/* END: General styles */

.background__navbar{
  background-color: rgb(138, 81, 59);
}
.recipe__carousel{
  @apply flex xl:flex-row max-w-[1440px] mx-auto py-4 h-auto;
}
.title__carousel {
  @apply sm:text-[20px] text-[15px] max-w-[1440px] font-extrabold text-center py-12 mx-auto;
  color: antiquewhite;
}
/* START: Hero styles */
.hero {
  @apply flex xl:flex-row flex-col gap-5 relative z-0 max-w-screen-xl mx-auto ;
}
.hero2{
  @apply flex-1 pt-16 padding-x;
}
.hero__title {
  @apply 2xl:text-[55px] sm:text-[50px] text-[40px] font-extrabold;
  color: antiquewhite
}

.hero__subtitle {
  @apply text-[24px] text-black-100 font-light mt-5;
  color: antiquewhite;
}

.hero__image-container {
  @apply xl:flex-[1.5] flex justify-end items-end w-full xl:h-screen;
}

.hero__image {
  @apply relative xl:w-full w-[90%] xl:h-full h-[590px] z-0;
}

/* END: Hero styles */